{% extends "base.html" %}

{% block title %}Assign Perscription{% endblock %}
{% block content %}

<form action = "/doctor/2" method = 'POST'>
    <div>
        <label for="report_id" class="block text-xs font-medium text-gray-700">
        Report ID
        </label>
        
        <input
        type="text"
        id = "report_id"
        name="report_id"
        placeholder="Patient Report ID"
        class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />
    </div>
    <div>
        <label for="medicine_name" class="block text-xs font-medium text-gray-700">
        Medicine Name
        </label>
        <input
        type = "text"
        id = "medicine_name"
        name = "medicine_name"
        placeholder = "Medicine name"
        class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />
    </div>
    <span>
        <button name = "submit" 
        type = "submit" 
        value = "positive"
        class="inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
        >
        Add
        </button>
    </span>
    <span>
        <button name = "submit" 
        type = "submit" 
        value = "negative" 
        class="inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
        >
        Remove
        </button>
    </span>
    <span>
        <button name = "submit" 
        type = "submit" 
        value = "view"
        class="inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
        >
        View Medicines
        </button>
    </span>
</form>
<a 
    class="relative font-medium text-indigo-600 before:absolute before:-bottom-1 before:h-0.5 before:w-full before:scale-x-0 before:bg-indigo-600 before:transition hover:before:scale-x-100"
    href = "/home"
   >
    Go To Home
</a>
{% endblock %}
