{% extends "base.html" %}

{% block title %}Assign Perscription{% endblock %}
{% block content %}

<form action = "/doctor/2" method = 'POST'>
    <div>
        <input
        type="text"
        name="report_id"
        placeholder="Patient Report ID"
        class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />
    </div>
    <div>
        <input
        type = "text"
        name = "medicine_name"
        placeholder = "Medicine name"
        class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
        />
    </div>
    <span>
        <button name = "submit" 
        type = "submit" 
        value = "positive"
        class="relative font-medium text-indigo-600 before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-indigo-600 before:transition hover:before:scale-100"
        >
        Add
        </button>
    </span>
    <span>
        <button name = "submit" 
        type = "submit" 
        value = "negative" 
        class="relative font-medium text-indigo-600 before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-indigo-600 before:transition hover:before:scale-100"
        >
        Remove
        </button>
    </span>
    <span>
        <button name = "submit" 
        type = "submit" 
        value = "view"
        class="relative font-medium text-indigo-600 before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-indigo-600 before:transition hover:before:scale-100"
        >
        View Medicines
        </button>
    </span>
</form>
<a 
    class="relative font-medium text-indigo-600 before:absolute before:-bottom-1 before:h-0.5 before:w-full before:scale-x-0 before:bg-indigo-600 before:transition hover:before:scale-x-100"
    href = "/home"
   >
    Go To Home
</a>
{% endblock %}
